@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}
.header, .footer {
    background-color: #1f2937;
    padding: 16px 160px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    max-width: 400px;
}

.title-subtext, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}


.header-style {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.header-image img {
    max-width: 650px;
    height: auto;
    min-width: 300px;
}

.title-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    margin-bottom: 64px;
    margin-right: auto;
    flex-wrap: wrap;
    overflow: auto;
}

.title-subtext {
    max-width: 500px;
}

.title-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-evenly;
}

.content1 img {
    max-width: 200px;
    height: auto;
    border-radius: 16px;
}


#content-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-bottom: 48px;
}

.content1 {
    text-align: center;
    padding: 32px 160px;
}

.content1-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex: auto;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.content2 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 160px 160px;
    align-items: center;
    color: #1f2937;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    flex: 1;
    max-width: 900px ;
    /* color: gray; */

}

#quote-by {
    align-self: flex-end;
    font-size: 24px;
}

.content3 {
    /* background-color: #3882f6; */
    font-size: 18px;
    color: #e5e7eb;
    padding: 128px 128px;
    display: flex;
    justify-content: center;
}

.content3-container {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    width: 1200px;
    height: 100px;
    padding: 64px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;

}

.content3-title {
    font-weight: bold;
    font-size: 36px;
}

.footer { 
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 128px;
}